@import "tailwindcss";

@theme {
    /* Custom colour classes */
    --color-brand-gray: #666666;
    --color-brand-maroon: #8c334d;
    --color-brand-darkmaroon: #633342;
    --color-brand-graytext: #454345;
    --color-brand-yellow: #fcb900;
    --color-brand-logo: #c5952c;

    --color-mission: #ff4d4d;
    --color-vision: #4dc8ff;
    --color-values: #ff9f4d;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth !important;
}

.logo-slider .swiper-wrapper {
    transition-timing-function: linear;
}