@import "tailwindcss";

@theme {
    /* Define the animation variable */
    --animate-carousel: carousel 30s linear infinite;

    /* Custom colour classes */
    --color-brand-gray: #666666;
    --color-brand-maroon: #8c344e;
    --color-brand-graytext: #454345;
    --color-brand-yellow: #fcb900;

    --color-mission: #ff4d4d;
    --color-vision: #4dc8ff;
    --color-values: #ff9f4d;

    /* Define the keyframes for the carousel */
    @keyframes carousel {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto
}

html {
    scroll-behavior: smooth !important;
}

[id] {
    scroll-margin-top: 114px;
}
